/* -- header area w/ consistent response info -- */
.running-header {
    width: 100%;
    table-layout: fixed;
    background-color: dimgray;
}

.img-header-cell {
    width: 20%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.salute-header-cell {
    width: 60%;
    text-align: left;
}

.header-image {
    max-width: 100%; 
    height: auto;
    display: block;
}

.left-image {
    margin-right: auto;
    margin-left: 0;
}

.right-image {
    margin-left: auto;
    margin-right: 0;
}

/* Buttons - Table and Cell Styling */
.kcs-buttons-table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 10px 0;
    table-layout: fixed;
    background-color: dimgray;
}

.kcs-cell {
    width: 20%;
    vertical-align: middle; 
    padding: 0; 
}

.nav-button {
    display: block; 
    text-align: center; 
    color: white;
    padding: 15px 5px; 
    border-radius: 8px;
    font-family: Arial, sans-serif;
    height: 100%;
    position: relative; 
}

.button-icon {
    font-size: 2em;
    display: block;
    margin-bottom: 5px;
}

.button-text {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    line-height: 1.2;
    display: block;
}

.kcs-button-summary {
    font-size: 0.8em;
    color:black;
    padding: 5px;
    font-style:italic;
    vertical-align: top;
    word-wrap: break-word;
}

/* --- Specific Button Colors --- */
#button-kyr {
    background-color:darkred;
}
#button-detention {
    background-color: darkred;
}
#button-safety {
    background-color: darkred;
}
#button-offline {
    background-color: darkred;
}

#button-action {
    background-color: darkred;
}

/* --- kyr page ---*/
.kyr {

}

.kyr h1 {

}

.kyr img{
    width:200px;
    height: auto;
}

/* --- triage page --- */
.triage {

}

#victim.triage {

}

/* --- witness page --- */
/* maybe switch to action instead of witness */
#witness.triage {

}

/* --- safety page --- */
#safety {

}

/* -- dynamic content area section --*/
#loading {
    text-align: center; 
    padding: 20px;
}

#failedLoad{
    color: red; 
    padding: 20px; 
    border: 1px 
    solid #f8d7da; 
    background-color: #f8d7da; 
    text-align: center;
}