body {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333;
}

/* -- header area w/ consistent response info -- */
.hotline {
    background-color: #696969; 
    color: white; 
    padding: 15px 10px; 
    margin-bottom: 20px;
}

.hotline a {
    color: #ffc107; 
    font-weight: bold;
}

.running-header {
    width: 100%;
    table-layout: fixed;
}

.img-header-cell {
    width: 20%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.salute-header-cell {
    width: 60%;
    text-align: center; 
    vertical-align: middle;
}

.salute-header-cell h1 {
    text-align: center;
    color: #8b0000;
    margin-top: 0;
    font-size: 1.8em;
}

.salute-header-cell ul {
    color: white; 
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; 
}

.salute-header-cell ul ul {
    list-style-type: disc; 
    margin-top: 5px;
    padding-left: 20px;
    font-size: 0.9em;
}

.header-image {
    max-width: 100%; 
    height: auto;
    display: block;
}

.left-image {
    margin-right: auto;
    margin-left: 0;
}

.right-image {
    margin-left: auto;
    margin-right: 0;
}

/* Buttons - Table and Cell Styling */
.button-section {
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: #696969;

}

.kcs-buttons-table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
}

.kcs-button {
    vertical-align: top;
    padding: 0; 
}

.nav-button {
    display: block; 
    text-align: center; 
    color: white;
    padding: 15px 5px; 
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    box-shadow: 0 4px 6px black;
}

.button-text {
    font-size: 1.1em;
    line-height: 1.2;
}

.kcs-button-summary {
    font-size: 0.8em;
    color:black;
    padding: 5px 10px;
    font-style: italic;
    font-weight:bold;
    vertical-align: top;
    word-wrap: break-word;
    text-align: center;
}

#button-kyr { background-color: #8b0000; }
#button-detention { background-color: #8b0000; }
#button-safety { background-color: #8b0000; }
#button-offline { background-color: #8b0000; }
#button-action { background-color: #8b0000; }

/* --- kyr page ---*/
.kyr {

}

.kyr h1 {

}

.kyr img{
    width:200px;
    height: auto;
}

/* --- triage page --- */
.triage {

}

#victim.triage {

}

/* --- witness page --- */
/* maybe switch to action instead of witness */
#witness.triage {

}

/* --- safety page --- */
#safety {

}

/* -- dynamic content area section --*/
#loading {
    text-align: center; 
    padding: 20px;
}

#failedLoad{
    color: red; 
    padding: 20px; 
    border: 1px 
    solid #f8d7da; 
    background-color: #f8d7da; 
    text-align: center;
}